@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100;
    display: flex;
    justify-content:center ;
    align-items: center;
    background:linear-gradient(to right,red,blue);
}
form{
    height: 24rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 16px 0 rgba(31,38,135,.37);
    border-radius: 30px;
    border-left: 1px rgba(255,255,255,.3);
    border-top: 1px rgba(255,255,255,.3);
}
form:before{
    content: '';
    position: absolute;
    bottom: 3%;
    right: 28%;
    width: 200px;
    height: 200px;
    background: magenta;
    border-radius: 50%;
    z-index:-1;
    opacity:.8;
}
form:after{
    content: '';
    position: absolute; 
    top: 3%;
    left: 28%;
    width: 200px;
    height: 200px;
    background: magenta;
    border-radius: 50%;
    z-index:-1;
    opacity:.8;
}
h1{
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(black,.2);
    letter-spacing: 3px;
    margin-bottom: 5px;
}
label{
    font-size: 20px;
    margin-left: 10% ;
    color:white;
    opacity: .8;
    text-shadow:2px 2px 4px rgba(0,0,0,.2) ;
    margin-top: 5%;
}
input{
    width: 80%;
    margin: 5% auto;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    opacity: .8;
}
button{
    width:50% auto;
    margin:3% auto;
    color: white;
    font-size: 15px;
    opacity: .7;
    background: rgba(255,255,255,0.6);
    padding: 10px 30px;
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
}
a{
    font-size: 12px;
    text-align: center;
    color: white;
    opacity: .7;

}